.potree_sidebar_container img {
    display: inline-block;
}

.potree_container .quick_buttons_container {
    width: 40px !important;
}

.potree_sidebar_container #potree_languages {
    display: none;
}
